.community{
  height: 100%;
  width: 100%;
  background-color: rgb(4 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .community-container {
    text-align: center;
  }

  .contentBox{
    max-width: 1044px;

    .content-header {
      position: relative;
      margin-bottom: 8px;
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
    .content-header-wrap {
      display: flex;
      padding-top: 18px;
      padding-bottom: 0px;
      justify-content: space-between;
    }
  
    .header-text {
      padding-left: 16px;
      line-height: 21px;
      font-size: 18px;
      color: #1e2022;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .article-box {
      display: flex;
      margin-top: 0;
      border-top: 1px solid #ebeef1;
      background: #ffffff;
  
      line-height: 18px;
      font-size: 14px;
      color: #7b858e;
      min-height: 76px;
    }
  
    .article-list-item:first-child {
      border-top: none;
  
      .article-list-item__content {
        vertical-align: middle;
      }
  
      .article-list-item__title {
        display: flex;
        overflow: auto;
        vertical-align: top;
        line-height: 15px;
        font-size: 14px;
        color: #1e2022;
        word-break: break-all;
      }
      .article-item {
        display: flex;
        border-top: 1px solid #ebeef1;
        background-color: #fff;
      }
      .article-list-item__title .post-title {
        display: block;
        max-width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .article-number {
        vertical-align: middle;
        margin-top: 5px;
        line-height: 17px;
        font-size: 14px;
        color: #7b858e;
      }
    }
  
    .post-title {
      color: black;
      padding-right: 5px;
    }
  
    .article-list-item-meta {
      display: flex;
      justify-content: space-between;
    }
  
    .article-list-author {
      display: inline-block;
      line-height: 18px;
      font-size: 14px;
      color: #98a0a7;
      padding-left: 8px;
    }
  
    .sub-search-wrap {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 6px;
      margin-bottom: 6px;
    }
  
    .sub-header-search__select {
      float: left;
      width: 122px;
      padding: 9px 0 8px 15px;
      box-sizing: border-box;
      border: 1px solid #ebeef1;
      border-radius: 4px 0 0 4px;
      line-height: 17px;
      font-size: 14px;
      color: #98a0a7;
      //background-image: url("/img/iconDropdown.png");
      background-size: 24px;
      background-position: top 5px right 5px;
      background-repeat: no-repeat;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
  
    .sub-header-search__input {
      float: left;
      border: none;
      width: 200px;
      box-sizing: border-box;
      padding: 10px 32px 9px 16px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #ebeef1;
      line-height: 17px;
      font-size: 14px;
    }
  
    .sub-header-search__button {
      float: left;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 6px;
      margin-right: 8px;
      border: 0;
    }
  
    .sub-header-search__img {
      width: 24px;
      height: 24px;
    }
  
    .article-list-paging {
      height: 64px;
      background: #f8f9fa;
    }
  
    .article-list-paging__button {
      line-height: 17px;
      font-size: 14px;
      color: #7b858e;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #dddfe4;
      width: 77px;
      height: 40px;
      margin-top: 12px;
    }
  
    .article-list-author {
      margin-left: 5px;
    }

    .article-list{
      height: 444px;
      background-color: white;
    }
  }


}

