.kdaGreen {
  color: $kdaGreen !important;
}

.kdaBlue {
  color: $kdaBlue !important;
}

.kdaYellow {
  color: $kdaYellow !important;
}

.winRatioRed {
  color: $winRatioRed !important;
}

.scoreYellow {
  color: $scoreYellow !important;
}

.kdaDefault {
  color: #555555 !important;
}

.winRatioDefault {
  color: #555555 !important;
}

.scoreDefault {
  color: #555555 !important;
}
