$bannerBlue: #1ea1f7;
$bgGray: #eaeaea;
$dividerGray: #d8d8d8;

$borderGray: #cdd2d2;
$defaultMargin: 0.8rem;

$kdaGreen: #2daf7f;
$kdaBlue: #1f8ecd;
$kdaYellow: #e19205;
$winRatioRed: #c6443e;
$scoreYellow: #e19205;
